<h4>Choose profession</h4>
<mat-form-field appearance="fill">
  <mat-label>Choose profession</mat-label>
  <mat-select #profession>
    <mat-option *ngFor="let profession of professions[raceValue]" [value]="profession.value">
      {{profession.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div>
  <button mat-button routerLink="/choose-race">Prev: Choose race</button>
  <button (click)="saveProfession(profession.value)" mat-button routerLink="/choose-skills">Next: Choose skills</button>
</div>
